<!DOCTYPE html>
<html lang="de">


<header class="container">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/basic.css">
    <a href="{{url_for('home.home_GET')}}" class="zoom">
        <img src="../static/logo.png" alt="E+ RoomSim" width="100">
    </a>
    <nav>
        <a href="{{url_for('simulationHistory.simHistory_GET')}}" id="baseID"> SIMULATION HISTORY</a>
    </nav>
</header>
<body>
<main class="container">
    <div class="row">

        <div class="col">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <br><br><br>
</main>


</body>
</html>