{% extends 'base.html' %}
{% block content %}
<div class="step_navbar">
    <div class="step-item completed">
        <div class="step_count">1</div>
        <div class="step_name">File input</div>
    </div>
    <div class="step-item completed">
        <div class="step_count">2</div>
        <div class="step_name">Occupancy</div>
    </div>
    <div class="step-item active">
        <div class="step_count">3</div>
        <div class="step_name">Room</div>
    </div>
    <div class="step-item">
        <div class="step_count">4</div>
        <div class="step_name">Overview</div>
    </div>

    <div class="step-item">
        <div class="step_count">5</div>
        <div class="step_name">Results</div>
    </div>
</div>

<br>

{% if docTitle %}
<div style="text-align: center;"><p class=error>You have currently selected: <strong>{{ docTitle }}</strong></div>
{% endif %}

<div style="text-align: center;"><h3> Adjust room parameters</h3></div>
<br>
<details {{ AdjRoomDimenOpen }}>
    <summary>
        Adjust room dimensions
    </summary>
    <div class="flex-container">
        <div class="flex-child">
         <div style="font-size: small; text-align: left">
             To visualise the room of your idf-file:
                <ol>
                <li>Change the Parameters or keep them as they are.</li>
                <li>Click on "Set Dimensions" Button.</li>
                <li>The visualisation is automatically refreshed with the new parameters. You can zoom in or out and turn the room in every direction you want.  </li>
                <li>Click on "Download" Button to download the new idf-file for later use. </li>
                </ol>
                Visualisation of your uploaded idf file:
         </div>
         <div class="flex-child">
            <iframe src="http://localhost:50715" width="750" height="450"></iframe>
            <div style="font-size: small; text-align: left"> (Please note: The orientation will not be visualised.)</div>
        </div>
         <br>
        </div>
        <div class="flex-child">
            <form action="{{url_for('editParameters.editParametersPost')}}" method="POST"
                  enctype="multipart/form-data">
                Width (in meter): <input type="number" name="width" min="1.2" max="1000" size="5" step="0.01" value="{{width}}"/> <br>
                Length (in meter): <input type="number" name="length" min="1.2" max="1000" size="5" step="0.01" value="{{length}}"/> <br>
                Height (in meter): <input type="number" name="height" min="2.0" max="1000" size="5" step="0.01" value="{{height}}"/> <br>
                Orientation (in degrees): <input type="number" name="orientation" min="0" max="359" size="5" step="1" value="{{orientation}}"/> <br><br>
                <input type="submit" value="Set dimensions" name="set_dimensions"> <br>
                <span id='downloadButtonIDF' style='visibility:{{ visibility }}; float: end;'>
                <a class="button_add" type="submit" style="float: end; margin-top: 10px" name="idf_file_download" href="{{url_for('editParameters.download_idf')}}"> Download new IDF file </a>
                </span>
            </form>
            <div>
                <br> Floor size: {{area}} m²
                <br>
            </div>

        </div>
    </div>
</details>

<br>
{% if errorRoom %}
<div style="text-align: center;"><p class=error><strong>Error:</strong> {{ errorRoom }}</div>
{% endif %}

<details {{ AdjInfiltRateOpen }}>
    <summary>
        Adjust infiltration rate
    </summary>
    <div style="text-align: left; justify-content: space-between">

        <form action="{{url_for('editParameters.editParametersPost')}}" method="POST"
              enctype="multipart/form-data">
            Infiltration rate (in kg/s): <input type="number" name="infiltrationRate" min="0" max="1" size="8" step="0.0001" value="{{infiltrationRate}}"/> <br>
            <input type="submit" value="Set infiltration rate" name="set_infiltrationRate"> <br>
        </form>

    </div>
    <br>

</details>
<br>

{% if docTitle %}
<div style="text-align: center;">
    <form action="{{url_for('ocpEdit.ocpEditPost')}}" method="POST"
          enctype="multipart/form-data">
        <button class="back_button" type="submit" name="delete_selected_file" style="">Delete {{docTitle}}
        </button>
    </form>
</div>
{% endif %}
{% if error %}
<div style="text-align: center;"><p class=error><strong>Error:</strong> {{ error }}</div>
<br>
{% endif %}
{% if success %}
<div style="text-align: center;"><p class=error><strong>Success:</strong> {{ success }}</div>
<br>
{% endif %}
<div id="outer">
    <div class="inner">
        <form action="{{url_for('home.home_GET')}}">
            <button class="back_button" type="submit"> &#8592 Return to Home</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('ocpUpload.ocpUploadPost')}}">
            <button class="back_button" type="submit">Back</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('startSim.startSimGet')}}" method="GET">
            <button class="proceed_button">Proceed to Simulation-Overview &#8594</button>
        </form>
    </div>
</div>

{% endblock %}
