{% extends 'base.html' %}
{% block content %}

<div class="step_navbar">
    <div class="step-item active">
        <div class="step_count">1</div>
        <div class="step_name">File input</div>
    </div>
    <div class="step-item">
        <div class="step_count">2</div>
        <div class="step_name">Occupancy</div>
    </div>
    <div class="step-item">
        <div class="step_count">3</div>
        <div class="step_name">Room</div>
    </div>
    <div class="step-item">
        <div class="step_count">4</div>
        <div class="step_name">Overview</div>
    </div>

    <div class="step-item">
        <div class="step_count">5</div>
        <div class="step_name">Results</div>
    </div>
</div>

<br>
<div style="text-align: center;"> Please choose whether to use example files or upload custom files.</div>
{% if documentTitle%}
<br>
<div style="text-align: center;"> You have currently selected the idf file: <b>{{documentTitle}}</b></div>
{% endif %}
{% if epwTitle%}
<br>
<div style="text-align: center;"> You have currently selected the epw file: <b>{{epwTitle}}</b></div>
{% endif %}
<br>
<br>
<details {{ idfbaseopen }}>
    <summary>1 (a). Use example IDF File
    </summary>
    Use the default example idf file which can be adjusted in step 3:<br>
    <br>
    <form action="{{url_for('fileHandler.fileHandlerPost')}}" method="Post">
        <label for="base_file_name"><b>File name:</b></label>
        <input type="hidden" name="base_file_name" id="base_file_name"
               size="50" maxlength="200" value="base"/>&nbsp;base.idf
        <input type="submit" name="submit_base_file" style="float: end;" value="Use example"/>
    </form>
</details>
<br>
<details {{ idfopen }}>
    <summary>1 (b). Upload IDF File
    </summary>
    Upload a custom room idf. Note that it must define only one zone.<br>
    <br>
    <form action="{{url_for('fileHandler.fileHandlerPost')}}" method="POST"
          enctype="multipart/form-data">
        <input type="file" name="file" accept=".idf" value="Choose file" onchange="document.getElementById('uploadButtonidf').style.display='block'"/>
        <span id='uploadButtonidf' style='display:none; float: end;'>
        <input type="submit" style="float: end;  margin-top: 10px" value="Upload" name="custom_file_upload"/>
        </span>
    </form>

{% if idferror %}
<div style="text-align: center;"><p class=error><strong>Error:</strong> {{ idferror }}</div>
{% endif %}
{% if notify%}
<div style="text-align: center;"><p class=error><strong>Please note:</strong> {{ notify }}</div>
{% endif %}

</details>
<br><br>
<details {{ epwbaseopen }}>
        <summary>2 (a). Use example EPW File
    </summary>
    Use the San Francisco weather file which is provided as an example:<br>
    <br>
    <form action="{{url_for('fileHandler.fileHandlerPost')}}" method="Post">
        <label for="base_file_name"><b>File name:</b>&nbsp;base.epw</label>
        <input type="submit" name="use_base_epw_file" style="float: end;" value="Use example"/>
    </form>

</details>
<br>
<details {{ epwopen }}>
    <summary> 2 (b). Upload EPW File
    </summary>
    Upload a custom EnergyPlus weather file.<br>
    <br>
    <form action="{{url_for('fileHandler.fileHandlerPost')}}" method="POST"
          enctype="multipart/form-data">
        <input type="file" name="epw_file" accept=".epw" value="Choose file" onchange="document.getElementById('uploadButtonepw').style.display='block'"/>
        <span id='uploadButtonepw' style='display:none; float: end;'>
        <input type="submit" style="float: end; margin-top: 10px" value="Upload" name="epw_file_upload"/>
        </span>
    </form>

{% if epwerror %}
<div style="text-align: center;"><p class=error><strong>Error:</strong> {{ epwerror }}</div>
{% endif %}
{% if notify%}
<div style="text-align: center;"><p class=error><strong>Please note:</strong> {{ notify }}</div>
{% endif %}

</details>
<br>
<!-- Error message when clicking 'Proceed to occupancy' although no file is selected -->
{% if error %}
<div style="text-align: center;"><p class=error><strong>Error:</strong> {{ error }}</div>
{% endif %}
{% if notify%}
<div style="text-align: center;"><p class=error><strong>Please note:</strong> {{ notify }}</div>
{% endif %}

<!-- Currently Simulation Quick Start is disabled -->
<div style="text-align: center; display:none;">
        <form action="{{url_for('fileHandler.fileHandlerPost')}}" method="POST">
            <button class="button_add" type="submit" name="start_simulation_with_idf" value="start sim with only idf" disabled/>
            Quick start simulation with provided .idf and .epw file &#8594</button>
        </form>
</div>
<!-- -->

<div id="outer">
    <div class="inner">
        <form action="{{url_for('home.home_GET')}}">
            <button class="back_button" type="submit"> &#8592 Return to Home</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('home.home_GET')}}">
            <button class="back_button" type="submit">Back</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('fileHandler.fileHandlerPost')}}" method="POST">
            <button class="proceed_button" type="submit" name="InputFile_proceed" value="Proceed to the next step"/>
            Proceed to occupancy &#8594</button>
        </form>
    </div>
</div>
{% endblock %}
