<!-- This file is currently not in use.
It could be used to quick start a simulation only with a provided idf and epw file.
There is an invisible button for this in fileUpload.html -->

{% extends 'base.html' %}
{% block content %}
<div class="step_navbar">
    <div class="step-item completed">
        <div class="step_count">1</div>
        <div class="step_name">File input</div>
    </div>
    <div class="step-item completed">
        <div class="step_count">2</div>
        <div class="step_name">Occupancy</div>
    </div>
    <div class="step-item completed">
        <div class="step_count">3</div>
        <div class="step_name">Room</div>
    </div>
    <div class="step-item active">
        <div class="step_count">4</div>
        <div class="step_name">Overview</div>
    </div>

    <div class="step-item">
        <div class="step_count">5</div>
        <div class="step_name">Results</div>
    </div>
</div>
<br>

<details>
    <summary>File Input</summary>
    Selected idf-file: <b>{{documentTitle}}</b><br>
    Selected epw-file: <b>{{epwTitle}}</b><br>
</details>
<br>
<hr class="solid">
<div style="font-size: 1.75rem">Simulation Status</div>

{% if error %}
<br>
<div style="text-align: center;"><p class=error><strong>Error:</strong> {{ error }}</div>
{% endif %}

<p id="Sim_id"></p>
<p id="IDF_Stat"></p>
<p id="EPW_Stat"></p>
<div style="font-weight: bold;">
    <p id="Sim_Status"></p>
</div>

<div id="outer">
    <div class="inner">
        <form action="{{url_for('home.home_GET')}}">
            <button id="home_noSimulation" class="back_button" type="submit"> &#8592 Return to Home</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('fileHandler.fileHandlerGet')}}">
            <button id="back_noSimulation" class="back_button" type="submit">Back</button>
        </form>
    </div>
    <div class="inner" id="button_start_sim">
        <button id="start_sim" class="proceed_button" onclick="startSimulation()">Start Simulation</button>
    </div>
    <div class="inner">
        <form action="{{url_for('viewResult.viewResultGet')}}">
            <button id="view_result" class="proceed_button" type="submit" disabled="disabled">View results (not available)
                &#8594
            </button>
        </form>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="loading" id="loading" hidden>Loading&#8230;</div>

<script type="text/javascript">

    try {
    $.when(StartRequest()).done(function (a1) {
        let data = JSON.parse(a1);
        if (data.start === "True") {
            document.getElementById("home_noSimulation").disabled = false;
            document.getElementById("back_noSimulation").disabled = false;
            document.getElementById("view_result").disabled = true;
            document.getElementById("start_sim").disabled = true;
            document.getElementById("Sim_Status").innerHTML = "<strong>Simulation Status</strong>: Simulation in progress.";
        }
            $.when(simIDRequest()).done(function (a1) {
                let data = JSON.parse(a1);
                if (data.id === "None") {
                    document.getElementById("Sim_Status").innerHTML = "";
                    document.getElementById("start_sim").disabled = false;
                    return false
                }
                document.getElementById("Sim_id").innerHTML = "<strong>SimID</strong>: " + data.id;
                $.when(IDFRequest()).done(function (a1) {
                    let data = JSON.parse(a1);
                    if (data.idf === "True") {
                        document.getElementById("IDF_Stat").innerHTML = "<strong>IDF Transfer</strong>: Done";
                    }
                    $.when(EPWRequest()).done(function (a1) {
                        let data = JSON.parse(a1);
                        if (data.epw === "True") {
                            document.getElementById("EPW_Stat").innerHTML = "<strong>EPW Transfer</strong>: Done";
                        }
                        $.when(GetStatus()).done(function (a1) {
                            let data = JSON.parse(a1);
                            document.getElementById("Sim_Status").innerHTML = "<strong>Simulation Status</strong>: " + data.status;
                            document.getElementById("loading").hidden = true;
                            if (data.status === "Simulation finished") {
                                document.getElementById("view_result").disabled = true;
                                document.getElementById("start_sim").disabled = false;
                            } else if (data.status === "Simulation unsuccessful!") {
                                        document.getElementById("view_result").disabled = true;
                                        document.getElementById("loading_gif").hidden = true;
                                        document.getElementById("start_sim").disabled = false;
                            } else {
                                document.getElementById("start_sim").disabled = false;
                            }
                        });
                    });
                });

            });
    });


        } catch (e) {
            console.log(e)
            document.getElementById("loading").hidden = true;
        }

    function simIDRequest() {
        return $.get('/startSimOnlyIdf/printSimID', function (testID) {
        return JSON.parse(testID);
        })
    }

    function IDFRequest() {
        return $.get('/startSimOnlyIdf/printIDF', function (testIDF) {
        return JSON.parse(testIDF);
        })
    }

    function EPWRequest() {
        return $.get('/startSimOnlyIdf/printEPW', function (testEPW) {
        return JSON.parse(testEPW);
        })
    }

    function GetStatus() {
        return $.get('/startSimOnlyIdf/MonitorProgress', function (data) {
            return JSON.parse(data)
        });
    }

    function StartRequest() {
        return $.get('/startSimOnlyIdf/printStarted', function (testStart) {
        return JSON.parse(testStart);
        })
    }

</script>

<script type="text/javascript">

    function startSimulation() {
        try {

            document.getElementById("home_noSimulation").disabled = true;
            document.getElementById("back_noSimulation").disabled = true;
            document.getElementById("start_sim").disabled = true;
            document.getElementById("view_result").disabled = true;
            document.getElementById("baseID").hidden = true;
            document.getElementById("Sim_Status").innerHTML = "";
            document.getElementById("Sim_id").innerHTML = "";
            document.getElementById("IDF_Stat").innerHTML = "";
            document.getElementById("EPW_Stat").innerHTML = "";

            $.when(IDRequest()).done(function (a1) {
                let data = JSON.parse(a1);
                if (data.id === "Timeout_Error") {
                    document.getElementById("Sim_Status").innerHTML = "<strong>Simulation Status</strong>: A timeout occurred during the id-generation. Please ensure that the backend and database are available.";
                    document.getElementById("start_sim").disabled = false;
                    return false
                }
                document.getElementById("Sim_id").innerHTML = "<strong>SimID</strong>: " + data.id;
                $.when(TransferIDF()).done(function (a1) {
                    let data = JSON.parse(a1);
                    document.getElementById("IDF_Stat").innerHTML = "<strong>IDF Transfer</strong>: " + data.status;
                        $.when(TransferEPW()).done(function (a1) {
                            let data = JSON.parse(a1);
                            document.getElementById("EPW_Stat").innerHTML = "<strong>EPW Transfer</strong>: " + data.status;

                            $.when(EngageSimulation()).done(function (a1) {
                                let data = JSON.parse(a1);
                                document.getElementById("Sim_Status").innerHTML = "<strong>Simulation Status</strong>: " + data.status;
                                document.getElementById("loading").hidden = true;
                                document.getElementById("home_noSimulation").disabled = false;
                                document.getElementById("back_noSimulation").disabled = false;
                                document.getElementById("view_result").disabled = true;
                                document.getElementById("baseID").hidden = false;
                                $.when(GetStatus()).done(function (a1) {
                                    let data = JSON.parse(a1);
                                    document.getElementById("Sim_Status").innerHTML = "<strong>Simulation Status</strong>: " + data.status;
                                    document.getElementById("loading").hidden = true;
                                    if (data.status === "Simulation finished") {
                                        document.getElementById("view_result").disabled = true;
                                        document.getElementById("start_sim").disabled = false;
                                    } else {
                                        document.getElementById("start_sim").disabled = false;
                                    }
                                });
                            });
                        });
                });
            });
        } catch (e) {
            console.log(e)
            document.getElementById("loading").hidden = true;
        }
    }

    function IDRequest() {
        return $.get('/startSimOnlyIdf/CreateID', function (data) {
            return JSON.parse(data)
        });
    }

    function TransferIDF() {
        return $.get('/startSimOnlyIdf/TIDF', function (data) {
            return JSON.parse(data)
        });
    }

    function TransferEPW() {
        return $.get('/startSimOnlyIdf/TEPW', function (data) {
            return JSON.parse(data)
        });
    }

    function EngageSimulation() {
        return $.get('/startSimOnlyIdf/EngageSim', function (data) {
            return JSON.parse(data)
        });
    }

    function GetStatus() {
        return $.get('/startSimOnlyIdf/MonitorProgress', function (data) {
            return JSON.parse(data)
        });
    }
</script>
{% endblock %}
