{% extends 'base.html' %}
{% block content %}
<div class="step_navbar">
    <div class="step-item completed">
        <div class="step_count">1</div>
        <div class="step_name">File input</div>
    </div>
    <div class="step-item completed">
        <div class="step_count">2</div>
        <div class="step_name">Occupancy</div>
    </div>
    <div class="step-item completed">
        <div class="step_count">3</div>
        <div class="step_name">Room</div>
    </div>
    <div class="step-item completed">
        <div class="step_count">4</div>
        <div class="step_name">Overview</div>
    </div>

    <div class="step-item active">
        <div class="step_count">5</div>
        <div class="step_name">Results</div>
    </div>
</div>
<br>

<div style="text-align: center">
    <h2>Select and individualize your plot</h2>
    <form action="{{url_for('viewResult.createPlot')}}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <th></th>
                <th>Y-Axis (1)</th>
                <th>Y-Axis (2)</th>
            </tr>
            <tr>
                <td>Select data to plot</td>
                <td>
                    <select name="plot_1_data">
                        <option value="1">Display simulated zone air temperature</option>
                        <option value="2">Display simulated zone CO2-concentration</option>
                        <option value="3">Display simulated zone relative humidity</option>
                        <option value="4">Display simulated outdoor temperature</option>
                        <option value="5">Display simulated outdoor air pressure</option>
                        <option value="6">Display window opening</option>
                        <option value="7">Display occupancy</option>
                    </select>
                </td>
                <td>
                    <select name="plot_2_data">
                        <option value="0">None</option>
                        <option value="1">Display simulated zone air temperature</option>
                        <option value="2">Display simulated zone CO2 concentration</option>
                        <option value="3">Display simulated zone relative humidity</option>
                        <option value="4">Display simulated outdoor temperature</option>
                        <option value="5">Display simulated outdoor air pressure</option>
                        <option value="6">Display window opening</option>
                        <option value="7">Display occupancy</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Select a color for each plot</td>
                <td>
                    <select name="plot_1_color">
                        <option value="0">Black</option>
                        <option value="1">Blue</option>
                        <option value="2">Red</option>
                        <option value="3">Green</option>
                        <option value="4">Yellow</option>
                        <option value="5">Gray</option>
                    </select>
                </td>
                <td>
                    <select name="plot_2_color">
                        <option value="0">Black</option>
                        <option value="1">Blue</option>
                        <option value="2">Red</option>
                        <option value="3">Green</option>
                        <option value="4">Yellow</option>
                        <option value="5">Gray</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Individualize your variable names (optional)</td>
                <td>
                    <input type="text" size="50" maxlength="200" name="var_1_name"></td>
                <td>
                    <input type="text" size="50" maxlength="200" name="var_2_name">
                </td>
            </tr>
            <tr>
                <td>Individualize your plot title (optional)</td>
                <td colspan="2">
                    <input type="text" size="100" maxlength="200" name="plot_name">
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input class="proceed_button" type="submit"
                           value="                    Generate Plot                    ">
                </td>
            </tr>

        </table>
    </form>
</div>

<div id="outer">
    <div class="inner">
        <form action="{{url_for('viewResult.createPlot')}}" method="POST" enctype="multipart/form-data">
        <button class="proceed_button" type="submit" name="data_download_csv"> Download CSV </button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('viewResult.createPlot')}}" method="POST" enctype="multipart/form-data">
        <button class="proceed_button" type="submit" name="data_download_eso"> Download ESO </button>
        </form>
    </div>
<br>
    <div class="inner">
        <form action="{{url_for('home.home_GET')}}">
            <button class="back_button" type="submit"> Return to landing page</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('startSim.startSimGet')}}">
            <button class="back_button" type="submit">Back</button>
        </form>
    </div>
    <div class="inner">
        <form action="{{url_for('simulationHistory.simHistory_GET')}}">
        <button class="proceed_button"> Show simulation history</button>
        </form>
    </div>
</div>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = "{{graphJSON | safe}}";
    Plotly.plot('chart', graphs, {});

</script>

{% endblock %}

